<launch>
  <include file="$(find rhp_dynamixel_hand)/launch/dynamixel_hand_controller_startup.launch">
    <arg name="namespace" value="left_hand_controller"/>
    <arg name="config_file" value="$(find rhp_dynamixel_hand)/config/left_hand.yaml"/>
    <arg name="usb_port" value="/dev/ttyUSB0"/>
  </include>
</launch>
